.mail__header{

}
.collapse{
    margin-left: 500px;
}
.hamburger{
    margin-right: 20px;
    margin-left: 10px;
}
.mail__header .form-control{
    width: 450px;
    margin-left: 70px;
    background: #f1f3f4;
}
.mail__header .form-control:focus{
    background: white;
}